
<!DOCTYPE html>
<html lang='en-us'>

    <head>
        <meta charset='UTF-8'>
        <title> MongoNewsScraper </title>

        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css'>

        {{!-- <link rel='stylesheet' href='/public/assets/css/style.css'> --}}
        <link rel='stylesheet' href='../../public/assets/css/style.css'>
    </head>

    <body>
        {{{ body }}}
    </body>

</html>